:root {
    --nav-color: #7a94af;
    --btn-color: #5e6d7c;
    --btn-color2: #bbd0e4;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: 350px auto;
}

body>* {
    padding: 10px;
}

nav {
    background-color: var(--nav-color);
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
}

main {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    gap: 10px;
    max-width: 1750px;
    min-height: 950px;
}

.boardList-main{
    max-width: 1410px;
    min-width: 1310px;
}

ol,ul{
    padding: 0;
    margin: 0;
}

li{
    list-style-type: none;
}

a{
    color: black;
    text-decoration: none;
}

.ul_m10 > *{
    margin: 10px;
    text-align: center;
    height: 35px;
    padding-top: 5px;
    display: block;
}

.nav_logo{
    background-repeat : no-repeat;
    background-size : 300px;
    padding: 10px;
    height: 130px;
    margin-bottom: 20px;
}

.board_tb>table {
    min-width: 600px;
}

.itemS004{
    background-color: #bbd0e4;
}

.itemS001{
    background-color: #89aece;
}

.admin_menu{
    margin-top: 20px;
}

.admin_menu > li{
    background-color: #4e6577;
}

.boardItem{
    font-size: 16px;

}

.boardItem > a{
    display: block;
}

.btn-wsmall {
    width: 150px;
    display: inline;
}

.btn-user {
    color: #fff;
    background-color: var(--btn-color);
    border-color: var(--btn-color);
    margin: 10px;
}

.nav_btns {
    display: flex;
    justify-content: center;

}


.profile_img {
    width: 130px;
    height: 130px;
    border: 1px solid black;
    display: inline-block;
}


/*main메뉴 테이블*/

.board_tb{
    min-width: 760px;
}



.boardsubject-title{
    font-weight: bold;
}

.list-group-container{
    width: 750px;
    margin-top: 20px;
}

.board_tab{
    display: flex;
    align-items: center;
    justify-content: center;

}

.boardList_tb{
    /*width: 1440px;*/
    margin-top: 15px;
    text-align: center;
}

.boardList_tab{
    display: flex;
    align-items: center;
}
.boardsubjectList_tab{
    display: flex;
    align-items: center;
    text-align: center;
}
.board_tab:nth-child(2n-1){
    background-color: #f2f4f7;
}
.boardList_tab:nth-child(2n-1){
    background-color: #f2f4f7;
}
.boardsubjectList_tab:nth-child(2n-1){
    background-color: #f2f4f7;

}

.boardsubjectList-head{
    background-color: #dee2e6;
    display: flex;
    align-items: center;
    text-align: center;
}

.tab_item_subjecttitle{
    width: 25%;
}

.tab_item_subjectnum, .tab_item_readAuth, .tab_item_writeAuth, .tab_item_boardsCount, .tab_item_modibtn, .tab_item_subjectcreator{
    width: 120px;
}

.tab_item_subjectstate{
    width: 100px;
}

.tab_item_createdDate{
    width: 270px;
}

.tab_item_title{
    width: 40%;
    font-size: 18px;
    font-weight: bold;
}
.tab_item_num{
    font-size: 16px;
    width: 50px;
}

.tab_item_recommend{
    font-size: 16px;
    width: 120px;
}
.tab_item_viewCount{
    font-size: 16px;
    width: 120px;
}
.tab_item_creator{
    font-size: 16px;
    width: 250px;
}

.tab_item_creator_modifier{
    font-size: 16px;
    width: 470px;
}

.mr_12{
    margin-right: 10px;

}

.ml_12{
    margin-left: 12px;
}

.m_70{
    margin: 70px;
}

.list-group-item{
    padding: 0.5rem 1.5rem;
}

.write-btn{
    background-color: var(--btn-color);
    color: #fff;
    width: 200px;
    height: 50px;
    font-size: 19px;
    float: right;
}

.m_12{
    margin: 12px;
}

.ok-btn{
    background-color: var(--btn-color2);
    height: 50px;
    font-size: 19px;
    margin-top: 3px;
}

.search-input{
    height: 50px;
    font-size: 19px;
    padding: 0px;
    width: 350px;
    margin-left: 0px;
    margin-right: 0px;
}

#orderby{
    display: flex;
    flex-direction: row;
}

#orderby > li{
    font-size: 20px;
    margin-right: 10px;
}

.search-div{
    margin-top: 25px;
    margin-bottom: 20px;
}

#boardPaginate{
    display: flex;
    justify-content: center;

}
.paging-wrap{
    margin-top: 30px;
}

.pagination{
    justify-content: center;
}

.active{
    z-index: 2;
    color: #0a58ca;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.a-active{
    color: #0d6efd;
}


.boardsubject_btn{
    height: 50px;
}

#boardSubjectList_basictb{
    margin-bottom: 50px;
}

.modi-btn{
    background-color: #bbd0e4;
    border-color: #bbd0e4;
    width: 100px;
}

.modal-body{
    font-size: 20px;
}

.modal-title{
    font-size: 1.3rem;
}

.modal-item{
    margin-bottom: 20px;
}

.input-subjecttitle{
    width: 400px;
}

.btn-login{
    width: 100%;
}

.login-container{
    width: 500px;
}

.dis-none{
    display: none;
}
.user_info{
    display: flex;
    align-items: center;
    padding: 12px;
}

/*.user-login-divs{
    height: 325px;
}*/

#check-msg{
    color: #e22424;
    font-size: 20px;
}

.main-profile-img{
    width: 120px;
    height: 120px;
    border: 1px solid black;
}

.tab_item_w150{
    width: 150px;
}

.tab_item_w250{
    width: 250px;
}

.mb-150{
    margin-bottom: 150px;
}

.tab_item_w90{
    width: 50px;
}

.btn-wbig{
    width: 250px;
}

.btn-admin {
    color: #fff;
    background-color: var(--btn-color);
    border-color: var(--btn-color);
}

.admin-btns {
    display: flex;
    justify-content: right;
}

.admin-btns > *{
    margin-left: 15px;
}

input[type=checkbox] {

    zoom: 1.2;

}

.mt-12{
    margin-top: 12px;
}


.selectedSubject-title{
    font-size: 22px;
}

.myPage-userInfo{
    display: flex;
}

.myprofile-img{
    width: 200px;
    border: 1px solid black;
    height: 200px;
}

.myInfo{
    margin-left: 50px;
}

.myInfo-Cnt{
    margin-top: 100px;
}